//colors

$grey: #dddddd;
$brand-primary: #397ab1;
$light-grey: #f9f9f9;
$dark-grey:#777777;

//spacing

$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 100rem;

// body

$body-bg-color: #fafafa;
$body-default-color: #333333;

// boxed-view
$boxed-view-overlay-bg:$grey;
$boxed-view-bg: white;
$boxed-view-border: 1px solid $grey;

//form inputs
$input-border-color: $grey;
$input-spacing: 1rem;

// font sizes
$base-font-size: 1.4rem;
$large-font-size: 2.2rem;

//button
$button-bg: $brand-primary;
$button-color: white;
$buttton-pill-color: $brand-primary;
$button-secondary-color: $dark-grey;
$button-secondary-border: $grey;
$button-secondary-bg: $light-grey;

//header
$header-bg: $brand-primary;
$header-color: white;
$header-height: 6rem;

// list items
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;

// wrapper

$wrapper-sidebar-width: 30rem;
$wrapper-main-width: calc(#{$site-max-width} - #{$wrapper-sidebar-width});
$wrapper-height: calc(100vh - #{$header-height});

// fonts
$site-font-default: Helvetica, Arial, sans-serif;
