.header {
  background-color: $header-bg;
  color: $header-color;
  &__content {
    display: flex;
    height: $header-height;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $site-max-width;
    padding: $space;
    img {
      cursor: pointer;
      height: 35px;
      @include desktop {
        display: none;
      }
    }

  }
  &__brand {
    font-weight: 300;
    margin: 0;
  }
}
