// item list
.item-list {
  background-color: white;
  border: $boxed-view-border;
  overflow-y: scroll;
  width: 100%;
  &__header {
    display: flex;
    flex-direction: column;
    padding: $space;
    button {
      @include form-margin-fix;
    }
  }
  -webkit-overflow-scrolling: touch;
  &__search {
    display: flex;
    padding: $space;
    text-align: center;
    input {
      flex: 1;
      @include form-margin-fix;
    }
    button {
      @include form-margin-fix;
    }
  }
}

// item
.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding:$space;
  transition: background-color .3s ease, border .3s ease;
  &:hover {
    background-color: $light-grey;
    border-left: $item-border-width solid $grey;
  }
  &__title {
    font-weight: normal;
    font-size: $base-font-size;
    margin-bottom: .4rem;
  }
  &__subtitle {
    color: $dark-grey;
    margin: 0;
  }
}
.item--selected, .item--selected:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $brand-primary;
  .item__title{
    font-weight: bold;
  }
}

// empty item

.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}
