.wrapper {
  display: flex;
  height: $wrapper-height;
  margin: 0 auto;
  max-width: $site-max-width;
  @include desktop {
    padding: $large-space $space;
  }
  &__sidebar {
    display: flex;
    transition: left .3s ease-in-out;
    width: 100vw;

    position: fixed;
    top: $header-height;
    left: -100vw;
    bottom: 0;


    @include desktop {
      display: flex;
      position: static;
      padding-right: $space;
      width: $wrapper-sidebar-width;

    }
  }
  &__main {
    display: flex;

    width: 100%;
    @include desktop {
      width: $wrapper-main-width;
    }
  }
}

.is-nav-open .wrapper__sidebar {
  left: 0;
}
